@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
 
 *{
	box-sizing: border-box;
    scroll-behavior: smooth;

}


h1,h6{ font-family: 'Cormorant Garamond', serif;
}
img{
	width: 100%;
	height: auto;
}
body{
	margin:0;
	padding: 0;
	
}
a{
    text-decoration: none !important;
    line-height: 60px;
    font-weight: 500;
    justify-content: flex-end;
}

ul{
    list-style: none;
}
/* main header css */
#main{
    position: relative;
    width: 100%;
    height: 100vh;
 
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px rgb(0,0,0,0.02);
    top: 0;
    left: 0;
    z-index: 1;
    background-color:#ffffff;
    position: fixed;
    width: 100%;
}
   

img{
    width: 100px;
    height: 80px;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
        
}
nav ul li{
    display: block;
    margin: 0 15px;
    
    
}


nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    Padding:0 18px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    transition: 0.2s all ease;

}
nav ul li a:hover{
    background-color: cornflowerblue;
    color:#000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all ease 0.2s;
}
.hey{
    font-weight: 600;
    font-size: 20px;
    border-bottom: 2px,solid, #1b3838 !important;
}
/* main header css end */



/* Introduction css */
.model img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}
.model{
    width: 500px;
    height: 500px;
    
}

.introduction{
    position: absolute;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    display: flex;
    width: 90%;

}
.content{
    width: 500px;
}
.content h2{
    font-size: 2.5rem;
    color: #1c3548;
    line-height: 60px;
    margin-bottom: 10px;

}

.content p{
    color: #747474;
}
.portfolio-btn, .project-btn{
    width: 190px;
    height: 45px;
    color:#fff;
    background-color: rgb(36, 163, 236);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 10px 30px #333341;

}
.portfolio-btn:hover{
    background-color: rgb(40, 99, 226);
    color:#fff;
    transition: 0.2s all ease;
}
#skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto auto 50px auto;

}
.skill-text{
    width: 400px;
}
.skill-img{
    width: 600px;
}
.skill-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.skill-heading span{
    color: #36b7b5;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}
.skill-heading h1{
    color:#1c3548;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 50px;
    margin: 0;
}
.s-box-container{
    margin:30px;
}
.skill-box{
    display: flex;
    margin: 25px 0;
}
.s-box-icon{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    font-size: 20px;
    margin-right: 12px;

}
.s-box-text strong{
    color:#1c3548;
    margin: 0px;
    font-weight: 600;
    font-size: 20px;
}
.s-box-text p{
    color:#747474;
    font-size: 16px;
    

}
.fa-html5{
    color:#e06061
}
.s-box-icon.fa-html5{
border-radius:50%;
}
.fa-css3-alt{
    color:#416cdf;
}
.fa-js-square{
    color:#f98231;
}
#recent-project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;

}
.recent span{
    color:#747474;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
.recent-heading{
    color:#1c3548;
    margin: 0px;
    font-weight: 600;
    font-size: 30px;
}
.project-img img{
    width: 100%;
    height: 100%;

}
.project-img{
    margin: 30px 40px;
}
.project-btn{
    width: 190px;
    margin-top: -100px;
    color:#fff;
}
.project-btn:hover{
    background-color: rgb(40, 99, 226);
    color:#fff;
    transition: 0.2s all ease;
}
.client-says span{
    color:#747474;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.client-says h3{
    color:#1c3548;
    margin: 0px;
    font-weight: 600;
    font-size: 30px;
}
#clients{
    background: url(./img/clientbg.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-size: 1000PX;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    position: relative;
}

.c-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    flex-wrap: wrap;
}
.client-box{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    margin: 0 20px;
    padding:10px 0;
    flex-wrap: wrap;
    width: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;;
}
.client-box:hover{
    transform: translateY(10px);
    transition: 0.2s all ease;
    box-shadow: none;
    
}
.client-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.client-box p{
    font-size: 16px;
    color:#747474;
    margin: 0px;
    text-align: center;
    display: -webkit-box;
    display: block;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical ;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.client-btn{
    width: 120px;
    height: 30px;
    color:#fff;
    background-color: rgb(27, 216, 128);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 10px 30px #333341;

}
.client-btn:hover{
    color:#fff;
    background-color: aqua;
    transition: 0.2s all ease;
}
.star{
    display: flex;
    margin: 10px 15px;
}
.star i{
    color: #e6d816ee;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}
.contact-img{
    height: 100%;
    width: 80%;
}
#contact h3{
    color:#1c3548;
    margin: 20px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;   
    
}
.contact-form{
    width: 400px;
    height: 50px;
    background-color: rgba(75, 182, 224, 0.699);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position: relative;
    z-index: 1;
}

.contact-form input{
    border: none;
    background: transparent;
    color: #f0f0f0;
    width: 100%;
    outline: none ;
    text-align: center;
    
    
}
.submit-btn{
    width: 120px;
    height: 50px;
    color:#fff;
    background-color: rgb(27, 216, 128);
    border-radius:20px 50px;
    box-shadow: 4px 10px 30px #333341;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto 20px;
   font-weight: 500;
   position: absolute;
   top:20px;
   right: -40px;
   transform: translate(-20px, -20px);
   z-index: 2;
    
}
.submit-btn:hover{
    color:#fff;
    background-color: rgba(46, 153, 153, 0.507);
    transition: 0.2s all ease;
}

footer{
    background-color:#1c35482a ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0 0;
}
footer > p{
    color:#1c3548;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.address > p{
        color:#2e5470;
        font-size: 12px;
        font-weight: 400;
     
    }
    .address ul{
        line-height: 5px;
    }
    .address h6{
        color: rgb(11, 37, 25);
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }
.social ul{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;

}
.social ul li{
    margin-right: 20px;
    font-size: 25px;
    transition: 0.2s all ease;
    
}
.social ul li a:hover{
    color: rgba(85, 32, 92, 0.507);
    transform: translateY(10px);
    
    
}

nav .menu-btn{
    display: none;
}

/*Media Query  for resposive issue */

@media(max-width:1140px ){
    .content{
        width: 100%;
    }
    .model{
        width: 400px;
        height:400px;
    }
    .content, .model{
        margin:10px;
        }
        .content h2{
            font-size:3rem;
        }
        .skill-img{
            width: 400px;
            height:400px;
    
        }
        .client-box{
            flex-grow:0.5 !important;
        }
       
} 
@media(max-width:900px){

    nav{
        justify-content:space-between;
        height:65px;
        padding: 0 30px;
    }
    .logo img{
        height:35px;
    }
    nav .menu-item{
        display:none;
        position:absolute;
        top: 65px;
        left: 0;
        background-color:#fff;
        border-bottom: 4px solid #1db096 ;
        width: 100%;
        margin: 0px;
        padding: 0px;
 
    }
    .menu-item li{
        width:100%;
    }
    nav .menu-item li a {
        display:flex;
        width:100%;
        height:40px;
        justify-content:center;
        align-items:center;
        margin:0px;
        padding:25px;
        border: 1px solid rgba(38,38,38,0.03);
    }
    nav .menu-icon{ 
        cursor: pointer;
        float: right;
        padding:28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon{
      /* background:#333333; */
      background:#8d2020;

      display: block;
      height:2px;
      width:18px;
      position:relative;
      transition: background 0.2s ease-out;

    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        /* background:red; */
        content:''; 
        display:block;
        height:100%;
        position:absolute;
        transition: all ease-out 0.2s;
        width:100%;

    }
    nav .menu-icon .nav-icon:before{
        top:5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background:transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform:rotate(-45deg);
        top:0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform:rotate(45deg) ;
        top:0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu-item{
        display: block;
    }
    #skills{
        width: 100%;
        justify-content:space-between;
        padding-left: 40px;
    }
    .skill-text{
        width:400px;
    }
    .skill-img{
        width:40%;
        height:300px;
    }
    .skill-img img{
        object-fit: cover;
        object-position: left;


    }
    .recent-heading h3, 
    .client-says h3,
    #contact h3{
        font-size: 2.2rem;
        text-align:center;
    }
    .recent-heading{
        text-align: center;
        padding:0px, 15px;
    }


}
@media(max-width:720px){
    .model{
        display:none;
    }
    content{
        position: absolute;
        width:70%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        margin:auto;

    }
    .contact-form input{
        width: 90%;
        margin:auto;
       
        
    }
    #contact img{
        height:200px;
    }
    footer{
        display: flex;
        flex-direction:column;
        justify-content: center;
        
    } 
    .recent-btn{
        margin:0px;
    }
    .client-box{
       
        margin: 0 20px;
        padding:10px 0;
        width: 300px;}
}

@media(max-width:530px){
    body{
	width:95%;
        margin:0;
        padding: 0;
    }
    .contact-input{
        width:90%;
        margin:auto;
    }
    .skill-img{
        display:none;
    }
    .skill-text{
        width:85%;

    }
    #skills{
        margin:0px;
    }
}

